@use '../abstracts/' as *;

.container {
  --padding: #{$container-inline-padding} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;

  &[data-size='wide'] {
    --max-width: #{$container-max-width-wide};
  }

  &[data-size='full-bleed'] {
    --padding: 0px;
    --max-width: 100vw;
  }
}
